{#
/**
 * @file
 * Override for views-view-grid.html.twig in views_faceted_filters_js module.
 *
 * Allows custom changes to the grid markup, uses the core views template as
 * basics.
 *
 * Available variables: See @views/views-view-grid.html.twig.
 *
 * @see template_preprocess_views_view_faceted_filters_js_grid()
 *
 * @ingroup themeable
 */
#}
{% extends "@views/views-view-grid.html.twig" %}
